@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto+Condensed&display=swap');

/* font-family: 'Josefin Sans', sans-serif; */
/* font-family: 'Roboto Condensed', sans-serif; */

/* Clear Deleration */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: 'Roboto Condensed', sans-serif;
}
.{
color: #96746b;
color: #c7a17a;
color: #fff;
color: #321a26;
}

.wrapper{
    /* border: 1px red solid; */
    width: 100%;
    margin: auto;
}

/* nav Area */
#nav{
    /* border: 1px red solid; */
    width: 95%;
    overflow: auto;
    margin: 1em auto;
}

#nav h1{
    /* border: 1px blue solid; */
    text-transform: uppercase;
    margin-right: auto;
    width: 50%;
    float: left;
    
}

#nav h1 a{
    /* border: 1px blueviolet solid; */
    color: #96746b;
    text-decoration: none; 
}

#nav ul{
    /* border: 1px fuchsia solid; */
    width: 50%;
    float: left;
    text-align: center;
    margin-top: 1em;
}

#nav ul li{
    /* border: 1px green solid; */
    text-decoration: none;
    display: inline-block;
    margin-left: 1em;
    
}

#nav ul li a{
    font-family: 'Josefin Sans', sans-serif; 
    font-weight: 700;
    text-decoration: none;
    color: #321a26;
}

/* Banner Area */
#banner{
    background-image: url(../image/banner-bg.jpg);
    background-size: cover;
    background-position: center;
    position:relative;
    width: 100%;
    height: 670px;
}

.banner-text{
    /* border: red 1px solid ; */
    position: absolute;
    top: 50%;
    left: 5.5%;
    transform: translate(0%,-50%);
}

#banner h2{
    color: #c7a17a;
    font-size: 4em;
    text-transform: uppercase;
}

#banner span{
    color: #96746b;
}

#banner p{
    color: #fff;
    font-family: 'Josefin Sans', sans-serif; 
    margin: 1em 0;
}

#banner a{
    color: #fff;
    background-color: #312a26;
    font-family: 'Josefin Sans', sans-serif; 
    padding: 1em;
    margin: 1em 0;
    width: 2em;
    line-height: 2ex;
    text-decoration: none;
    font-weight: 700;
}

/* Ads Area */

/* .ads{
    border: red 1px solid;
    color: #fff;
    width: 85%;
    height: 350px;
    margin: 4em auto;
    background-size: cover;
    background-position: center;
    position: relative;
}

.ads-item1{
    background-image: url(../image/ads-img1.jpg);
    background-size: cover;
}

.ads-item2{
    background-image: url(../image/ads-img2.jpg);
    background-size: cover;
} */

.ads-text{
    font-family: 'Josefin Sans', sans-serif; 
    text-shadow: 3px 3px 6px #312a26;
    position: relative;
}

.ads-text h3{
    border: red 1px solid;
    position: absolute;
    top: 50&;

}

.ads-text a{
    font-family: 'Josefin Sans', sans-serif; 
    text-shadow: 3px 3px 6px #312a26;
    text-decoration: none;
    margin: 1em 2em;
}